{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}A propos{% endblock %}

{% block body %}
    <article>
        <h2>A propos de ce site</h2>
        <p>Ce site est réalisé avec Symfony par Eric.</p>

    </article>
{% endblock %}